* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body {
    background-image: url(./assets/vivid-blurred-colorful-background.jpg);
    background-size: cover;
}
.wrapper {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1030px;
}
.text-input, .keyboard {
    padding: 5px;
    border-radius: 10px;
}
textarea {
    padding: 20px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
textarea:focus {
    outline: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.key {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.key:hover {
    border: 2px solid #a972cb;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.delete-tab {
    width: 90px;
}
.letter {
    font-size: 20px;
    opacity: 0.3;
}
.fz14 {
    font-size: 14px;
}
.right-bottom {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.left-bottom {
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.light {
   opacity: 0.3;
}
.caps-return {
    width: 120px;
}
.shift {
    width: 140px;
}
.command {
    width: 74px;
}
.space {
    width: 331px;
}
.arrow {
    height: 29px;
}
.div-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.bottom {
    justify-content: flex-end;
}
.arrow:nth-child(1) {
    border-radius: 5px 5px 0 0;
}
.arrow:nth-child(2) {
    border-radius: 0 0 5px 5px;
}
img {
    width: 17px;
    height: 20px;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 #a972cb;}
}
.active {
    border: 2px solid #a972cb;
}
@keyframes scale {
    0% { 
        transform: scale(1);
    }
    50% { 
        transform: scale(0.9);
    }
    100% { 
        transform: scale(1);
    }
}
.scale {
    animation: scale 0.3s;
}
.pulse:hover, 
.pulse:focus {
  animation: pulse 0.8s;
  box-shadow: 0 0 0 1em transparent;
}
.active-letter {
    opacity: 1;
}
.lang {
    margin-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}